<hr class="featurette-divider">
<footer class="container">
	
	
		<p style="text-align: center; color: white;">&copy; 2017-2018 Fatal Void, Inc. <!-- <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p> -->
</footer>
