<!doctype html>
<html lang="en">
  
  <body>

    
    <main role="main">

      <div class="container summary">
        <div class="col-md-12">

          <div class="d-flex justify-content-center">
          <h1 class="display-2 color-white">Play Now For Free!</h1>
          </div>

          <div class="p-5"></div>
          <%= button_to "Install Fatal Void", "/FatalVoidExport.zip", :class => "btn btn-secondary btn-lg btn-block", :method => :get %>

          <div class="p-5"></div>
          <div class="p-5"></div>
        </div>

        <div class="col-md-12">
          <p class="lead color-white">Fatal Void is set 15 years after a devasting war in which a expansionist empire takes over the galaxy. In search of a weapons to keep your small home planet safe from raids, you end up caught in a universe of schemers and men who care only for self gain. </p>
        </div>


      </div>

      
      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

    <hr class="featurette-divider">

    <section id="projects">
    <div class="container">

      <!-- Project One Row -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <img class="featurette-image img-fluid mx-auto" > <%= image_tag("Snow.png", :class => "img-fluid", :alt => "Town_picture")  %>
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="ml-4">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">Intricate Map Design</h4>
                  <p class="mb-0 text-white-50">Maps created by the Fatal Void team are based on real life areas in our universe, this adds a layer of reality to our game instead and allows indepth map design</p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Project Two Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <img class="featurette-image img-fluid mx-auto" > <%= image_tag("Modeling_picture.png", :class => "img-fluid", :alt => "Modeling_picture")  %>
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="mr-4 p-3">           
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white">Detailed Modeling</h4>
                  <p class="mb-0 text-white-50">Like the Maps, the Models are also created by the Fatal Void team to enhance the user experience and to guide them through the mysterious story</p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Project Three Row -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <img class="featurette-image img-fluid mx-auto" > <%= image_tag("Forest.png", :class => "img-fluid", :alt => "Forest_picture")  %>
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="ml-4 p-3">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">Inventive Game Mechanics</h4>
                  <p class="mb-0 text-white-50">In the Fatal Void universe, enemies are not your only problem. Nature itself has been plagued and you require hydrogen sulfide to stay alive else die to the elements, adding a layer of time management to the game.</p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </section>

  <hr class="featurette-divider">

  <div class="container summary">
    <div class="col-lg-6">
        <img class="featurette-image img-fluid mx-auto" > <%= image_tag("Volcano.png", :class => "img-fluid", :alt => "Volcano_picture")  %>
    </div>
    <div class="col-lg-6">
        <img class="featurette-image img-fluid mx-auto" > <%= image_tag("Sand.png", :class => "img-fluid", :alt => "Sand_picture")  %>
    </div>
  </div>

  </main>
  

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  
  </body>
</html>
