<body>
<main role="main">
	<div class="container">

		<h1 class="color-white"> The Team Of Fatal Void</h1>

		<hr class="featurette-divider">
	
		<div class="top-row">
			<div class="col-md-1"></div>
			<div class="col-md-2"><p class="color-white">CIARAN BRYDEN</p></div> 
			<div class="col-md-2"><p class="color-white">JASPER CHRISTIAN</p></div>
			<div class="col-md-2"><p class="color-white">HASEEB HUSSAIN</p></div>
			<div class="col-md-2"><p class="color-white">ESSA KHAN</p></div>
			<div class="col-md-2"><p class="color-white">MOHAMMED MAHMOOD</p></div>
			<div class="col-md-1"></div>
		</div>

		<div class="seperator">
				<hr class="featurette-divider">
		</div>

		<div class="bot-row">
			<div class="col-md-1"></div>
			<div class="col-md-2"><p class="color-white">ALEXANDER MATTHEWS</p></div>
			<div class="col-md-2"><p class="color-white">MUHAMMED MIAH</p></div>
			<div class="col-md-2"><p class="color-white">LOUIS PAYNE</p></div>
			<div class="col-md-2"><p class="color-white">BARTLOMIEJ ROGALSKI</p></div>
			<div class="col-md-2"><p class="color-white">USAMA SHAZLEE</p></div>
			<div class="col-md-1"></div>
		</div>

	</div>
</main>
</body>