<body>
<% @posts.each do |post| %>
 <div class="row">
  <div class="col-xs-8 col-xs-offset-2">
   <div class="well well-lg">
    <div class="post-title">
    	<td><%= post.title%> </td>
    </div>
    <div class="created-at">
      <td style="align-content: right"><%= post.created_at %></td>
    </div>
    
    <div class="post-body">
    	<span><td><%= simple_format post.body%></td></span>
    </div>
   </div>
  </div>
 </div>
<% end %>
</body>