<div class = "container post-container">
	
	<div class="row">

		<div class="col-lg-12">
			<h class="page-header"><%= @post.title %>
				<small>Item Subheading</small>
			</h>
		</div>
	</div>


	<div class="row">

		<div class="col-lg-8">
			<%#= image_tag @post.image, class: 'img-responsive' %>
		</div>

		<div class="col-lg-4">
			<h3>blog description</h3>
			<%= @post.body %>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<h3 class="page-header">related blogs</h3>
		</div>

		<% @post.each do |post| %>
			<div class = "col-sn-3 col-xs-6">
				<%= link_to post_path {post} do %>
					<%= image_tag post.image, class: 'img-responsive portfolio-item'%>
				<% end %>
			</div>
		<% end %>
	</div>

</div>


